<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关系图谱</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"/>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/d3.v5.min.js"></script>
    <script src="../static/js/echarts.js"></script>

</head>

<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>汽车数据知识图谱</h1>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/relationship_graph">关系图谱</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/entity_recognition">实体识别</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top:30px">
    <div>
        <h4>信息搜索</h4>
        <br>
        <form action="/node_query">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">关键字</span>
                </div>
                <input type="text" class="form-control" placeholder="请输入查询结点" id="usr" name="username">
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
    </div>
    <br>
    <div>
        <h4>展示</h4>
        <br>
        <div id="container"></div>
    </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">
    <p>
        制作人：张雅琛<br>
        联系方式：aachen_z@163.com
    </p>
</div>
</body>
<script type="text/javascript">
    var width = 1100, height = 1000,
        margin = {left: 50, top: 30, right: 20, bottom: 20},
        g_width = width - margin.left - margin.right,
        g_height = height - margin.top - margin.bottom;

    //svg
    d3.select("#container").append("svg")
    //width,height
        .attr("width", width)
        .attr("height", height)

    var g = d3.select("svg")
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    //准备数据
    var nodes = {{ nodes_data|safe }};
    var edges = {{ edges_data|safe }};
    //设置一个color的颜色比例尺，为了让不同的扇形呈现不同的颜色
    var colorScale = d3.scaleOrdinal()
        .domain(d3.range(nodes.length))
        .range(d3.schemeCategory10);

    //新建一个力导向图
    var forceSimulation = d3.forceSimulation()
        .force("link", d3.forceLink())
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter());
    ;

    //初始化力导向图，也就是传入数据
    //生成节点数据
    forceSimulation.nodes(nodes)
        .on("tick", ticked);//这个函数很重要，后面给出具体实现和说明
    //生成边数据
    forceSimulation.force("link")
        .links(edges)
        .distance(function (d) {//每一边的长度
            return d.value * 200;
        });
    //设置图形的中心位置
    forceSimulation.force("center")
        .x(width / 2)
        .y(height / 2);
    //在浏览器的控制台输出
    console.log(nodes);
    console.log(edges);

    //有了节点和边的数据后，我们开始绘制
    //绘制边
    var links = g.append("g")
        .selectAll("line")
        .data(edges)
        .enter()
        .append("line")
        .attr("stroke", function (d, i) {
            return colorScale(i);
        })
        .attr("stroke-width", 1);
    var linksText = g.append("g")
        .selectAll("text")
        .data(edges)
        .enter()
        .append("text")
        .text(function (d) {
            return d.relation;
        });

    //绘制节点
    //老规矩，先为节点和节点上的文字分组
    var gs = g.selectAll(".circleText")
        .data(nodes)
        .enter()
        .append("g")
        .attr("transform", function (d, i) {
            var cirX = d.x;
            var cirY = d.y;
            return "translate(" + cirX + "," + cirY + ")";
        })
        .call(d3.drag()
            .on("start", started)
            .on("drag", dragged)
            .on("end", ended)
        );

    //绘制节点
    gs.append("circle")
        .attr("r", 15)
        .attr("fill", function (d, i) {
            return colorScale(i);
        });
    //文字
    gs.append("text")
        .attr("x", -10)
        .attr("y", -20)
        .attr("dy", 10)
        .text(function (d) {
            return d.name;
        });

    function ticked() {
        links
            .attr("x1", function (d) {
                return d.source.x;
            })
            .attr("y1", function (d) {
                return d.source.y;
            })
            .attr("x2", function (d) {
                return d.target.x;
            })
            .attr("y2", function (d) {
                return d.target.y;
            });

        linksText
            .attr("x", function (d) {
                return (d.source.x + d.target.x) / 2;
            })
            .attr("y", function (d) {
                return (d.source.y + d.target.y) / 2;
            });

        gs
            .attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            });
    }

    function started(d) {
        if (!d3.event.active) {
            forceSimulation.alphaTarget(0.8).restart();
        }
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function ended(d) {
        if (!d3.event.active) {
            forceSimulation.alphaTarget(0);
        }
        d.fx = null;
        d.fy = null;
    }
</script>

</html>